.loading {
font-size: 2rem;
margin: 150px auto 0;
animation: spin 1s linear infinite;
width: 100%;
}

@keyframes spin {
    from{
      transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
/* https://www.youtube.com/watch?v=PbnaIlnOsr8&list=FLMToZijrawYq0N9r9YRf2Xw&index=2&t=18s&ab_channel=ManualdoDev */